@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.section {
  background: url('https://i.cbc.ca/1.5497192.1602880713!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/medicago-vaccine-facility.jpg')
    no-repeat center center;
  background-size: cover;
  position: relative;
}

/* .section-2 {
    background: url('https://p0.pikist.com/photos/429/892/hydroponics-greenhouse-lettuce.jpg')
      no-repeat center center;
    background-size: cover;
    position: relative;
  } */

.section-3 {
  background: url('https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')
    rgba(29, 31, 29, 0.726);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}
